.contentPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "nimbusSan", sans-serif;
  position: absolute;
  top: 77px;
  color: white;
  width: calc(100vw - 17px);
  height: 100vh;
  z-index: 20;
  & > a {
    text-decoration: none;
  }
}
.contentPageHeading {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  word-spacing: 3.5px;
  margin-bottom: 3rem;
}
.contentPageContent {
  letter-spacing: 1.2px;
  margin-bottom: 3em;
  display: -webkit-box;
  max-width: 60rem;
  text-shadow: 1px 1px 1px black;
}

.contentPageButton {
  display: flex;
  border: 1px solid white;
  padding: 0.2rem 3rem 0.2rem 3rem;
  font-size: 0.9rem;
  color: white;
  transition: all 300ms;
  letter-spacing: 2.3px;
  word-spacing: 3px;
  margin-bottom: 5rem;
  font-family: "nimbusSan", sans-serif;
  &:hover {
    color: black;
    background-color: white;
  }
}
.contentPageImage {
  width: 100vw !important;
  height: 100vh !important;
}
.contentPageImageOverlay {
  width: calc(100vw - 17px);
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  opacity: 0.5;
}
.carousel-control-next,
.carousel-control-prev {
  z-index: 21;
}
